.introMain{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    width: 100vw;

}
.introCard{
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 25%;
}
.introCard .part1{
    width: 100%;
    height: 56%;
    position: relative;
    overflow: hidden;
}
.slide {
    position: absolute;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: slideshow 8s infinite;
    opacity: 0;
}

.slide1 {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/044/280/984/small_2x/stack-of-books-on-a-brown-background-concept-for-world-book-day-photo.jpg');
    animation-delay: 0s;
}


.slide3 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnwv7MrC6BKdE5zldg5oYpyKdWtZ_DIF1g5w&s');
    animation-delay: 4s;
}


@keyframes slideshow {
    0%, 50% {
        opacity: 1;
    }
    55%, 95% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.introCard .part2{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(36, 205, 205), rgb(110, 213, 229));
    border-radius: 0 0 1rem 1rem;
}
.introText{
    display: flex;
    margin:0 10rem 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.introText p{
    padding: 0.1rem;
}